.App{
  display:flex;
}
.section-content-container {
  display:block;
}
.main{
  width: 890px;
}
.todo-item {
  padding: 15px;
  background-color: #daecff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin:0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(207, 207, 207); /* Add border-bottom property */
}
.todo-list {
  margin-top:5px; 
  padding-top: 20px;
  padding-left: 5px;
}
.todo-item span {
  flex: 1;
  color: #352929;
  font-weight: bold;
}

.todo-item div {
  display: flex;
  align-items: center;
}
/* --------------------------------------------- */

.todo-button:last-child {
  margin-right: 0; /* Remove right margin for the last button */
}
.todo-buttons button {
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  transition: transform 0.2s ease;
  height:40px;
}

.todo-buttons button:hover {
  transform: scale(1.1);
}

.todo-buttons button:focus {
  outline: none;
}

.todo-buttons button:active {
  transform: scale(0.95);
}
  /* ------------------------ */
  
  .todo-input {
    width: calc(100% - 120px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height:40px; /* Adjust the height of the input field as needed */
    vertical-align: middle;
  }
  
  .todo-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  /* todo-buttons-container .btn {
    vertical-align:baseline !important;
  } */
